@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Russo+One&display=swap');


* {
    box-sizing: border-box;

}

body {
    font-family: 'Russo One', cursive;
    text-color: #BBE6E4;
    background-color: #0B132B;
}

.titre {
    position: relative;
    color: #3A506B;
    font-family: 'Do Hyeon',cursive;
    font-size: 48px;
    text-align: center;
    z-index: 1000;
    top: 100px;
    display: table;
    margin: 0 auto;
}
.image-EnTête img {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0%;
    top: 51px;

}