@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Russo+One&display=swap');


* {



}

body {
    font-family: 'Russo One', cursive;
    font-size: 18px;
    line-height: 1.5;
    color: #BBE6E4;
    background-color: #0B132B;
    box-sizing: border-box;

}
.masque  {
    background-color: white;
    opacity: 30%;
    position: relative;
    top: 120px;
    z-index: 3;
    height: 50px;
    width: 100%;
}
header  {
    overflow: hidden;
}

.banniere {
    width: 100%;
    margin-top: 0px;
}

.titre {
    position: relative;
    color: #3A506B;
    font-family: 'Do Hyeon',cursive;
    font-size: 48px;
    text-align: center;
    z-index: 2;
    top: 30px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);
}
.logo-png  {
    display: inline-block;
    width: 40px;
    height: auto;
    position: relative;
    margin-top: 2px;
}

.main-nav {
    float: right;
}

.image-EnTête img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    top: -30px;
    margin-top: -40px;

}

.texte {
    display: inline-block;
    border: solid;;
}
p {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}
video {
    top: 5px;
}

.menu {
    border-bottom: solid;
    border-color: #BBE6E4;
}

.image img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}

/* https://codepen.io/erikterwan/pen/EVzeRP */









/* fenêtre du menu */
#menuToggle
{
    display: block;
    position: relative;
    top: 10px;
    left: -10px;

    z-index: 4;

}
/* vitesse d'ouverture */
#menuToggle a
{
    text-decoration: none;
    color: #BBE6E4;
    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: tomato;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: 20px;
    opacity: 0%;
    z-index: 3;
}


#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    top: 3px;
    background: #BBE6E4;
    border-radius: 3px;
    left: 27px;
    z-index: 2;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #BBE6E4;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px); /* animation croix*/
}



#menu
{
    position: fixed;
    width: 200px;
    margin: -100px -10px -10px 0px;
    padding: 50px;
    padding-top: 125px;
    height: 100%;
    background: #3A506B;
    list-style-type: none;



    transform-origin: 0% 0%;
    transform: translate(-300px, 0);

    transition: transform 0.9s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}


#menuToggle input:checked ~ ul {
    transform: none;
}















.vignets {

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* ==========================================================================
   Page Studio
   ========================================================================== */

/* https://divtable.com/table-styler/ */

table {
    border-collapse: collapse;
}
th {
    border: 2px solid blue ;
}
table tr td {
    color: #0B132B;
}




table.TABLE {
    border: 1px solid #000000;
    background-color: #BBE6E4;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.TABLE td, table.TABLE th {
    border: 1px solid #0B132B;
    padding: 5px 0px;
}
table.TABLE tbody td {
    font-size: 13px;
}
table.TABLE thead {
    background: #3A506B;
    background: -moz-linear-gradient(top, #6b7c90 0%, #4d6179 66%, #3A506B 100%);
    background: -webkit-linear-gradient(top, #6b7c90 0%, #4d6179 66%, #3A506B 100%);
    background: linear-gradient(to bottom, #6b7c90 0%, #4d6179 66%, #3A506B 100%);
    border-bottom: 2px solid #444444;
}
table.TABLE thead th {
    font-size: 16px;
    font-weight: bold;
    color: #0B132B;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}
table.TABLE thead th:first-child {
    border-left: none;
}

table.TABLE tfoot td {
    font-size: 16px;
}
table.TABLE tfoot .links {
    text-align: right;
}
table.TABLE tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

