@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Russo+One&display=swap');


* {

}

body {
    font-family: 'Russo One', cursive;
    color: #BBE6E4;
    background-color: #0B132B;
    box-sizing: border-box;
}


.titre {
    position: relative;
    color: #3A506B;
    font-family: 'Do Hyeon',cursive;
    font-size: 48px;
    text-align: center;
    z-index: 1000;
    top: 60px;
    margin: 0 auto;
}
.image-EnTête img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    top: -30px
}


.texte {
    display: inline-block;
    border: solid;;
}
p {
    display: block;
}
video {
    top: 5px;
}