@media screen and (min-width: 660px){

}

@media screen and (min-width: 880px){
    #menuToggle {
        display: none;

    }

    .btn {
        display: inline-block;
    }
    body {
        font-size: 24px;
    }
}


@media screen and (min-width: 1020px){


    .btn{
        padding:10px 30px;
    }

    .btn:hover{
        padding:40px 30px;
    }
}

@media screen and (min-width: 1160px){

    .btn{
        padding:10px 40px;
    }

    .btn:hover{
        padding:20px 40px;
    }
    body {
        font-size: 28px;
    }


    .image {

    }
}

@media screen and (min-width: 1300px){

    .btn{
        padding:10px 50px;
    }

    .btn:hover{
        padding:25px 50px;
    }
}

@media screen and (min-width: 1440px){

    .btn{
        padding:10px 60px;
    }

    .btn:hover{
        padding:25px 60px;
    }
}

@media screen and (min-width: 1580px){

    .btn{
        padding:25px 70px;
    }

    .btn:hover{
        padding:30px 70px;
    }

    body {
    font-size: 38px;
    }

}



